<footer class="footer">
    <div class="texto-r">
        <p class="texto-r-redes">
            <a href=" ">
                <p>Telefone: (81) 91111-2222</p>
                <img src="/footer/whatsapp.png" alt="" class="icon">(81) 91111-2222
            </a>
            <a href="forms-contato.component.html">
                <img src="/footer/contact-mail.png" alt="" class="icon"> Contato </a>
            <a href="">
                <img src="/footer/job-aplication.png" alt="" class="icon"> Trabalhe conosco</a>
        <p>CNPJ: 0000000000/00001-23</p>
    </div>
    <div class="texto-l">
        <p class="texto-l-redes">
            <a href="https://www.instagram.com/grupoamericape/">
                <img src="/footer/instagram.png" alt="" class="icon"> Instagram
            </a>
            <a href="">
                <img src="/footer/email.png" alt="" class="icon"> contato&#64;grupoamerica.com.br
            </a>
            <a href="">
                <img src="/footer/email.png" alt="" class="icon"> sac&#64;grupoamerica.com.br
            </a>
        </p>
        <p class="texto-l-direitos"> Todos os direitos reservados a Grupo América Distribuição de
            Combustíveis © </p>
    </div>
</footer>