<footer class="footer">
    <div class="texto-r"> <!--div para o texto da direita-->
        <p class="texto-r-redes">
            <a href=" "> <!--telefone da empresa-->
                <p>Telefone: (81) 91111-2222</p>
                <img src="/footer/whatsapp.png" alt="" class="icon">(81) 91111-2222
            </a>
            <a href="/forms-contato"> <!--formulário para contato direto com a empresa via preenchimento de dados-->
                <img src="/footer/contact-mail.png" alt="" class="icon"> Contato </a>
            <a href="/forms-trabalhe">
                <img src="/footer/job-aplication.png" alt="" class="icon"> Trabalhe conosco</a> <!--formulário trabalhae conosco-->
            CNPJ: 0000000000/00001-23 
        </p>
    </div>
    <div class="texto-l"> <!--div para o texto da esquerda-->
        <p class="texto-l-redes">
            <a href="https://www.instagram.com/grupoamericape/"> <!--link para o instagram da empresa-->
                <img src="/footer/instagram.png" alt="" class="icon"> Instagram
            </a>
            <a href=""> <!-- email de contato da empresa-->
                <img src="/footer/email.png" alt="" class="icon"> contato&#64;grupoamerica.com.br
            </a>
            <a href=""> <!-- email de suporte da empresa-->
                <img src="/footer/email.png" alt="" class="icon"> sac&#64;grupoamerica.com.br
            </a>
        </p>
        <p class="texto-l-direitos"> Todos os direitos reservados a Grupo América Distribuição de
            Combustíveis © </p> <!--direitos autorais da empresa-->
    </div>
</footer>