.footer{
    display: flex;
    bottom: 0;
    background-color: #E7E7E7;
    justify-content:center;
    align-items: center;
    gap: 30px;	
    width: 100%;
    box-shadow: 5px 4px 4px 5px #00000040;
} /* display flexivel, zerada a margem debaixo da página, 
centralizada horizontalmente com o afastamento de 30 pixels entre os elementos, e com uma box shadow*/

.texto-r{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 10%;
} /* centraliza os itens, da um afastamento de 10 pixels, define uma margem a esquerda de 10 pixels,
e direciona os elementos para uma coluna */
.texto-l{
    display: flex; /*display flexivel*/
    flex-direction: column; /*direciona os elementos para uma coluna*/
    font-size: 1.5rem; /*tamanho da fonte*/
    text-decoration: none; /*sem sublinhado*/
} 
.texto-r a{
    text-decoration: none; /*sem sublinhado*/
    color: #1C449C; /*cor da letra*/
}
.texto-l a{
    text-decoration: none;
    color: #1C449C;
}
.icon{ 
    width: 1rem; 
    height: 1rem;
    size: 1rem;
}/* tamanho da imagem*/
.texto-l p a img{
    width: 1rem;
    height: 1rem;
    size: 1rem;
}/* tamanho da imagem*/
.texto-l-redes{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}
.texto-l-direitos{
    display: flex;
    flex-direction: column;
}
.texto-r-redes{
    display: flex;
    flex-direction: column;
    text-align: right;
}	