<section class="footer">
    <div class="texto-r">
        <p>
            <a href=" ">
                Telefone: (81) 91111-2222<br>
                <img src="/footer/whatsapp.png" alt="" class="icon">(81) 91111-2222<br>
                <img src="/footer/whatsapp.png" alt="" class="icon">(81) 91111-2222<br>
            </a>
            <a href="forms-contato.component.html">
                <img src="/footer/contact-mail.png" alt="" class="icon"> Contato <br></a>
            <a href="">
                <img src="/footer/job-aplication.png" alt="" class="icon"> Trabalhe conosco</a><br>
            CNPJ: 0000000000/00001-23<br>
        </p>
    </div>
    <div class="texto-l">
        <p>
            <a href="https://www.instagram.com/grupoamericape/">
                <img src="/footer/instagram.png" alt="" class="icon"> Instagram <br>
            </a>
            <a href=""> 
                <img src="/footer/email.png" alt="" class="icon"> contato&#64;grupoamerica.com.br <br>
            </a>
            <a href="">
                <img src="/footer/email.png" alt="" class="icon"> sac&#64;grupoamerica.com.br <br><br><br>
            </a>

            Todos os direitos reservados a Grupo América Distribuição de
            Combustíveis ©
        </p>
    </div>
</section>
