section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    color: #1C449C;
    flex-direction: column;
    gap: 40px;
}


.inicio{
    width: 50%;
    background-color:  #CCCCCC;
    color: #62222C;
    display: flex;
}
.moldura{
    background-color:  #FEF6E2;
    width: 80%;
    border-radius: 20px;
    justify-content: justify;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #00000040;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logosFim{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}
.corpo2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}
