<section>
    <div class="americaCorpo">
        <div class="moldura">
            <img src="/AmericaCafe/MOLDURAAMERICACAFÉ.png" class="lateral">
            <div class="corpo">
                <div class="corpo2">
                    <div class="logos">
                        <img src="/AmericaCafe/LOGOAMERICACAFE.png">
                        <img src="/AmericaCafe/mais.png">
                        <img src="/AmericaCafe/LOGOSHELLSELECT.png">
                    </div>
                    <div class="textoAmerica">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Libero
                            assumenda odit culpa quasi doloremque! Iure, earum sed.
                            Repellat,
                            ipsam aperiam! Nihil dolor velit nemo magni animi rem.
                            Nihil,
                            culpa
                            animi.
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quae,
                            quia.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Eveniet
                            consequuntur veritatis repellendus perferendis est officiis
                            iure
                            cumque. In impedit distinctio rem, odit, vitae aliquam
                            corporis
                            eveniet ipsam neque veritatis natus?
                        </p>
                    </div>
                </div>
                <div class="logosFim">
                    <img src="/AmericaCafe/americacafe1.png" class="imagem3">
                    <div class="imagem12">
                        <img src="/AmericaCafe/americacafe.png" class="imagem1">
                        <img src="/AmericaCafe/americacafe2.png" class="imagem2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>