<section>
    <div class="corpo">
        <div class="cabeca-contato">
            <h1>Contato</h1>
            <p>Entre em contato conosco através dos endereços abaixo: </p>
        </div>
        <div class="formulario-corpo">
            <div class="forms">
                <input type="text" class="digitaNome" placeholder="Digite seu nome">
                <input type="tel" class="Telfone" placeholder="Digite seu telefone">
                <input type="email" class="e-mail" placeholder="Digite seu e-mail">
                <textarea name="mensagem" id="mensagem" placeholder="Digite sua mensagem"></textarea>
                <button class="btn-enviar">Enviar</button>
            </div>
        </div>
    </div>
</section>