
.header {
    background-color: #E7E7E7;
    height: 80px;
    width: 100%;
    display: flex;
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Montserrat;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    list-style: none;
    gap: 70px;
    font-size: 2rem;
}

.menu :hover {
    color: #2b65e2;
    cursor: pointer;
    transition: 0.5s;
}
a{
    text-decoration: none;
}