<header class="header" id="header">
    <nav class="nav">
        <ul class="menu">
            <li><a href=""><li><a href=""><img src="/logoPrincipal.png" alt=""></a></li></a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Produtos/Serviços</a></li>
            <li><a href="">América Café</a></li>
            <li><button (click)="scrollToElement('america')">Onde estamos</button></li>
            <li><a href="/forms-contato">Contato</a></li>
        </ul>
    </nav>
</header>
<div class="btn-abrir-menu" id="btn-abrir-menu">
    <img src="/lista.png" alt="">
</div>


<div class="menu-mobile" id="menu-mobile">
    <nav class="nav-mobile">
        <div class="btn-fechar">
            <img src="/closeBtn.png" alt="">
        </div>
        <ul class="menu-lista-mobile">
            
            <li><a href=""><li><a href=""><img src="/logoPrincipal.png" alt=""></a></li></a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="#produtos-servicos">Produtos/Serviços</a></li>
            <li><a href="">América Café</a></li>
            <li><a href="">Onde estamos</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </nav>
</div>