<div id="section">
    
    <div class="titulo">
        <h1>Promoções e Descontos</h1>

        <div class="img_america">
            <img src="logoAmerica.png">
        </div>
        
     </div>

    
    <div class="Produtos_1">
        <div class="card">
            <img class="img" src="Delicias_em_Dobro.png">

            <div class="text_card">
                <h2 class="titulo_produto">Delicias em Dobro</h2>

                <p class="text_produto">
                    Duas opções de lanches acompanhado por bebida esperando por você!
                </p>
            </div>
            
        </div>

        <div class="card2">
            <img class="img" src="Coxinha_e_Refri.png">

            <div class="text_card">
                <h2 class="titulo_produto">Coxinha + Refri</h2>

                <p class="text_produto">
                    Promoção de uma deliciosa coinha acompanhada de uma peps 350ml.
                </p>
            </div>
            
        </div>

        <div class="card3">
            <img class="img" src="Bebida_RTD.png">

            <div class="text_card">
                <h2 class="titulo_produto">Bebida + Candy</h2>

                <p class="text_produto">
                    Bebidas achocolatadas   acompanhadas de doces.
                </p>
            </div>
            
        </div>
    </div>

    <div class="Produtos_2">
        <div class="card">
            <img class="img" src="GP_Interlagos.jpg">

            <div class="text_card">
                <h2 class="titulo_produto">Viva a Emoção nas Pistas!</h2>

                <p class="text_produto">
                    Concorra a ingressos para o GP de Interlagos e venha torcer conosco pela Ferrari!       
                </p>
            </div>
            
        </div>

        <div class="card2">
            <img class="img" src="Mochilas_Ferrari.png">

            <div class="text_card">
                <h2 class="titulo_produto">Mochilas Ferrari</h2>

                <p class="text_produto">
                    basteça R$80 ou mais com<br> shell V-Power Nitro+ ou <br>compre 25 nas lojas select <br> + 35 = uma mochila Ferrari exclusivo
            </div>
            
        </div>

        <div class="card3">
            <img class="img" src="Etanol.png">

            <div class="text_card">
                <h2 class="titulo_produto">Etanol</h2>

                <p class="text_produto">
                    Até R$0,40 reais de desconto por litro de etanol, baixe o app<br> e aproveite!
                </p>
            </div>
            
        </div>

    </div>
    
</div>
