<section id="section">
<!--Estas 2 div´s e uma classe fazem referência ao titulo da página-->
    <div class="titulo">
        <div class="cabeca">
            <h1>Promoções e Descontos</h1>

            <img class="img_america" src="AmericaCafe/LOGOAMERICACAFE.png">


        </div>
        
        
        
    </div>
<!--Cada um dos rows dos produtos está inserio dentro de sua div sendos elas produtos_1
 e produtos_2 que contem os cards-->
    <div class="Produtos_1">

<!--A estrutura de cada card se divide da seguinte forma, 1 card geral onde tudo estara 
dentro e uma div so para o texto nomeada de "text_card"-->
        <div class="card">
            <img class="img" src="Delicias_em_Dobro.png">

            <div class="text_card">
                <h2 class="titulo_produto">Delicias em Dobro</h2>

                <p class="text_produto">
                    Duas opções de lanches acompanhado por bebida esperando por você!
                </p>
            </div>
            
        </div>

        <div class="card2">
            <img class="img" src="Coxinha_e_Refri.png">

            <div class="text_card">
                <h2 class="titulo_produto">Coxinha + Refri</h2>

                <p class="text_produto">
                    Promoção de uma deliciosa coinha acompanhada de uma peps 350ml.
                </p>
            </div>
            
        </div>

        <div class="card3">
            <img class="img" src="Bebida_RTD.png">

            <div class="text_card">
                <h2 class="titulo_produto">Bebida + Candy</h2>

                <p class="text_produto">
                    Bebidas achocolatadas   acompanhadas de doces.
                </p>
            </div>
            
        </div>
    </div>

    <div class="Produtos_2">
        <div class="card">
            <img class="img" src="GP_Interlagos.jpg">

            <div class="text_card">
                <h2 class="titulo_produto">Viva a Emoção nas Pistas!</h2>

                <p class="text_produto">
                    Concorra a ingressos para o GP de Interlagos e venha torcer conosco pela Ferrari!       
                </p>
            </div>
            
        </div>

        <div class="card2">
            <img class="img" src="Mochilas_Ferrari.png">

            <div class="text_card">
                <h2 class="titulo_produto">Mochilas Ferrari</h2>

                <p class="text_produto">
                    basteça R$80 ou mais com<br> shell V-Power Nitro+ ou <br>compre 25 nas lojas select <br> + 35 = uma mochila Ferrari exclusivo
            </div>
            
        </div>

        <div class="card3">
            <img class="img" src="Etanol.png">

            <div class="text_card">
                <h2 class="titulo_produto">Etanol</h2>

                <p class="text_produto">
                    Até R$0,40 reais de desconto por litro de etanol, baixe o app<br> e aproveite!
                </p>
            </div>
            
        </div>
    </div>
</section>
<!--dentro da pag estou importanto o componente "app-footer"-->
<app-footer></app-footer>

