/*Esta é a section geral da página, onde está a estilização geral*/
#section{
    background-color: #FEBE10;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

 }
.titulo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 12%;
    margin-top: 5%;
    font-size: 1.8rem;
    margin-bottom: 5%;
    justify-content: space-between;
}

.cabeca{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_america{
    height: 60%;
}

.Produtos_1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card{
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 10rem;
    border-radius: 0.4rem;
    opacity: 1;
    background-color: #cf0e0e;
    margin-left: 2.5rem;
}
.card2{
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 10rem;
    border-radius: 0.4rem;
    opacity: 1;
    background-color: #cf0e0e;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card3{
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 10rem;
    border-radius: 0.4rem;
    opacity: 1;
    background-color: #cf0e0e;
}
.img{
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 35%;
    height: auto;
    border-radius: 0.4rem;
}
/*Esta é a estilização da div que contem todos os textos do card
nela tem tanto o titulo do produto quanto a descrição*/
.text_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 2%;
    margin-top: 1.5%;
}
/*Está é a estilização do titulo dos produtos dentro do card*/
.titulo_produto{
    color: #1E1E1E;
    font-size: 150%;
}
/*Está é a estilização do texto dentro do produto*/
.text_produto{
    color: #FFF9F9;
    font-size: 120%;
}
/*Está é a estilização do 2º row de produtos*/
.Produtos_2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    margin-top: 1rem;
}