<div class="corpo">
    <h1 class="mapas">Onde Estamos</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus
        felis efficitur velit fermentum gravida. Pellentesque sit amet molestie
        neque. Mauris scelerisque magna massa, luctus facilisis urna convallis
        ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Nullam sit amet sagittis erat, a elementum mi.
    </p>
    <app-rederiza-mapas></app-rederiza-mapas>
</div>