section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    font-size: 2rem;
    color: #1C449C;
    flex-direction: column;
    gap: 40px;
}


.inicio{
    width: 70%;
    background-color:  #CCCCCC;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 30px;
}