section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    font-size: 1.3rem;
    color: #1C449C;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
}


.inicio{
    width: 70%;
    background-color:  #CCCCCC;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px #00000040;
}
.mapas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}