section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    font-size: 1.3rem;
    color: #1C449C;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
}
.inicio{
    width: 70%;
    background-color:  #CCCCCC;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px #00000040;
}
.textoPosto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.logoAmerica{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}
.imagemPosto{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}
/*@media screen and (max-width: 1200px) {
    section{
        font-size: 95%;
    }
    .inicio{
        display: flex;
        width: 90vw;
    }
}
@media screen and (max-width: 991px) {
    section{
        font-size: 90%;
    }
    .inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .inicio img{
        display: flex;
        width: 30vw;
    }
    .textoPosto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    section{
        font-size: 80%;
        width: 50vw;
    }
    .inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        width: 50vw;
    }
    .textoPosto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}*/