<section class="sobre"> <!--cria o topico sobre -->
    <div class="inicio">
        <div class="texto-posto">
            <img src="/logoAmerica.png" class="logoAmerica"> <!--logo da empresa-->
            <p>O Grupo América, com origem na cidade de Caruaru, Pernambuco, atua no mercado de combustíveis
                desde 2001, consolidando-se como uma referência em qualidade e atendimento no setor. Com mais de
                duas décadas de experiência, a empresa se destaca pela confiabilidade de seus serviços e pelo
                compromisso em atender às necessidades dos seus clientes de maneira eficiente e moderna.

                Atualmente, o Grupo América conta com uma rede composta por 20 postos de combustíveis
                estrategicamente localizados na região metropolitana do Recife e no agreste pernambucano. Essa
                ampla cobertura permite que a empresa atenda tanto áreas urbanas movimentadas quanto regiões
                importantes do interior do estado, garantindo praticidade e conveniência para os motoristas.
                Além do abastecimento, a rede oferece serviços complementares que enriquecem a experiência do
                cliente.</p>
            <p>Entre suas operações, o Grupo América disponibiliza unidades da Shell Select, uma conveniência
                que alia praticidade e diversidade de produtos de alta qualidade. Em 2024, a empresa expandiu
                sua atuação com a criação das suas próprias conveniências, o América Café, que oferecem
                ambientes diferenciados, com cafés especiais e opções de lanches rápidos, buscando proporcionar
                momentos agradáveis aos clientes durante suas rotinas.

                Com um histórico marcado por inovação e excelência, o Grupo América segue comprometido em
                oferecer serviços de alto padrão, contribuindo para o desenvolvimento do setor de combustíveis e
                conveniências em Pernambuco. A empresa é sinônimo de qualidade, modernidade e cuidado com seus
                consumidores, consolidando-se como uma das principais redes da região.</p> <!--texto da empresa-->
        </div>
        <div class="imagem-Posto"><img src="/fotoPosto.png"></div> <!--imagem do posto-->
    </div>
</section>
<!-- Produtos e Serviços -->
<section class="produtos-servicos-corpo">
    <div class="produtos-servicos">
        <h1 class="tittle-servicos">Produtos e Serviços</h1> <!--titulo dos produtos e serviços-->
        <p>
            Não importa qual seja seu veículo. Temos os mais diversos combustíveis, produtos e equipamentos para
            você
            rodar
            por ruas e estradas com conforto e tranquilidade.
        </p>
        <div class="container-shell"> <!--cria o container dos produtos da empresa-->
            <img src="/logoShell.png"> <!--logo da shell-->
            <p>Para isso, contamos com a parceria da maior produtora e distribuidora de combutíveis do mundo.
                Confira
                nossos
                produtos:</p> <!--texto dos produtos-->
        </div>
        <div class="container-gasolinas"> <!--cria o container dos produtos da empresa, com a exibição de cada e com a interação por pop up, contendo informações sobre cada um-->
            <div class="coluna-gasolinas">
                <button (click)="openPopup(0)" class="btn-image"><img src="/shellGasolinaComum.png" alt=""></button> <!-- imagem e botão do combustivel-->
                <app-pop-up [isVisible]="isPopupVisible[0]" (close)="closePopup(0)"> <!-- cria o pop-up dos produtos-->
                    <p>Shell Gasolina Comum:
                        Combustível comum sem aditivos adicionais, utilizado em motores a gasolina, sendo uma opção mais
                        básica e acessível.</p>
                </app-pop-up>
                <button (click)="openPopup(1)" class="btn-image"><img src="/shellEtanol.png" alt=""></button>
                <app-pop-up [isVisible]="isPopupVisible[1]" (close)="closePopup(1)">
                    <p>Shell Etanol Comum:
                        Etanol hidratado comum, uma alternativa mais limpa e renovável, amplamente usado em carros flex.
                    </p>
                </app-pop-up>
            </div>
            <div class="coluna-gasolinas">
                <button (click)="openPopup(2)" class="btn-image"><img src="/shellDiesels500.png" alt=""></button>
                <app-pop-up [isVisible]="isPopupVisible[2]" (close)="closePopup(2)">
                    <p> Shell Diesel S500:
                         Diesel com teor de enxofre reduzido (500 ppm), indicado para veículos mais antigos ou que não exijam diesel S10.</p>
                </app-pop-up>
                <button (click)="openPopup(3)" class="btn-image"><img src="/shellDiesels10.png" alt=""></button>
                <app-pop-up [isVisible]="isPopupVisible[3]" (close)="closePopup(3)">
                    <p>Shell Diesel S10 Comum:
                        Diesel com teor de enxofre ultrabaixo (10 ppm), obrigatório em veículos mais modernos com tecnologia de controle de emissões.</p>
                </app-pop-up>
            </div>
            <div class="coluna-gasolinas">
                <button (click)="openPopup(4)" class="btn-image"><img src="/shellVpowerAdtv.png" alt=""></button>
                <app-pop-up [isVisible]="isPopupVisible[4]" (close)="closePopup(4)">
                    <p>Shell V-Power Gasolina Aditivada:
                        Gasolina com aditivos que ajudam na limpeza e manutenção do motor, melhorando o desempenho e reduzindo resíduos.
                    </p>
                </app-pop-up>                        
                <button (click)="openPopup(5)" class="btn-image"><img src="/shellVpower.png" alt=""></button>
                <app-pop-up [isVisible]="isPopupVisible[5]" (close)="closePopup(5)">
                    <p>Shell V-Power Etanol Aditivado:
                        Etanol com aditivos que oferecem proteção ao motor, proporcionando maior eficiência.
                    </p>
                </app-pop-up>
            </div>
            <div class="coluna-gasolinas">
                <button (click)="openPopup(6)" class="btn-image"><img src="/shellVpowerPremium.png" alt=""></button>
                <app-pop-up [isVisible]="isPopupVisible[6]" (close)="closePopup(6)">
                    <p>Shell V-Power Racing Gasolina Premium:

                        Combustível premium com formulação especial, voltado para alta performance, oferecendo máxima potência e limpeza.</p>
                </app-pop-up>
                <button (click)="openPopup(7)" class="btn-image"><img src="/shellEvolux.png" alt=""></button>
                <app-pop-up [isVisible]="isPopupVisible[7]" (close)="closePopup(7)">
                    <p>Shell Evolux Diesel S10 Aditivado:
                        Diesel S10 com aditivos avançados para proteção e eficiência do motor, reduzindo o desgaste e os resíduos.</p>
                </app-pop-up>
            </div>
        </div>
    </div>
    <div class="produtos-servicos2"> <!--ultimo produto com seu texto referencia e logo-->
        <p>Comprometidos com a sustentabilidade e o meio ambiente, estamos em busca de implementar de diversos
            postos da
            nossa rede o nosso mais novo produto: SHELL RECHARGE</p>
        <img src="/shellRecharge.png"> <!--imagem do produto-->
        <p>A solução de recarga rápida para veículos elétricos! <br></p>
        <p>Esta solução é ideal para o motorista que procura mais autonomia e eficiência para recargar seu veículo
            elétrico.
            As estações Shell Recharge oferecem uma experiência completa para os seus usuários, desde uma plataforma
            intuitiva, até formas simplificadas de pagamento.</p>
    </div>
</section>
<!-- America Café -->
<section class="america"> <!--cria o topico america café, conveniencias da rede-->
    <div class="americaCorpo">
        <div class="moldura"> <!--imagem lateral da página-->
            <img src="/AmericaCafe/MOLDURAAMERICACAFÉ.png" class="lateral"> 
            <div class="corpo">
                <div class="corpo2">
                    <div class="logos"> <!--logo do américa café e shell select, titulo da página-->
                        <img src="/AmericaCafe/LOGOAMERICACAFE.png">
                        <img src="/AmericaCafe/mais.png">
                        <img src="/AmericaCafe/LOGOSHELLSELECT.png">
                    </div>
                    <div class="textoAmerica"> <!--texto sobre as convêniencias-->
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Libero
                            assumenda odit culpa quasi doloremque! Iure, earum sed.
                            Repellat,
                            ipsam aperiam! Nihil dolor velit nemo magni animi rem.
                            Nihil,
                            culpa
                            animi.
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quae,
                            quia.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Eveniet
                            consequuntur veritatis repellendus perferendis est officiis
                            iure
                            cumque. In impedit distinctio rem, odit, vitae aliquam
                            corporis
                            eveniet ipsam neque veritatis natus?
                        </p>
                    </div>
                </div>
                <div class="logosFim"> <!--imagens ilustrativas dos locais-->
                    <img src="/AmericaCafe/americacafe1.png" class="imagem3">
                    <div class="imagem12">
                        <img src="/AmericaCafe/americacafe.png" class="imagem1">
                        <img src="/AmericaCafe/americacafe2.png" class="imagem2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-mapas></app-mapas>