<app-tela-principal></app-tela-principal>
<section>
    <div class="inicio">
        <div><img src="/fotoPosto.png" class="imagemPosto"></div>
        <div>
            <img src="/logoAmerica.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, repellat! Dignissimos, veritatis,
                accusantium voluptate harum minus reprehenderit quod fugiat ducimus, nobis nostrum id quas perspiciatis.
                Reprehenderit explicabo nobis quo nulla.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, nobis. Placeat, libero fugiat sed,
                aliquid eum molestiae, perspiciatis quibusdam atque optio eaque officiis doloribus? Nesciunt itaque
                corrupti vitae rem quod!</p>
        </div>
    </div>
    <app-produtos-servicos></app-produtos-servicos>
    <app-america-cafe></app-america-cafe>
    <app-mapas class="mapas"></app-mapas>
    <app-forms-contato style="width: 80%;"></app-forms-contato>
</section>
